.bigTitle{
  background-color: #404F43;
  color: #E1E8E6;
  font-size: xx-large;
  font-family: 'Tenor Sans', sans-serif;
  height: 30px;
  padding: 1%;
}
.container{
  color: #3B3632;
  background-color: #f4fcfa;
  border-radius: 20px;
  border: #3B3632 solid;
  width: 30%;
  margin: 2rem;
}
.title{
  font-size: 27px;
  font-family: 'Tenor Sans', sans-serif;
  padding: 1rem 0 0 3rem;
}
.loginForm{
  padding: 1rem 0 1rem 4rem ;
  width: 100%;
}
.btn{
  background-color: #3B3632;
  color: white;
  margin: 3% 0;
}
mat-form-field{
  width: 70%;
}

