.container{
  color: #3B3632;
  background-color: #f4fcfa;
  border-radius: 20px;
  border: #3B3632 solid;
  width: 500px;
}
.title{
  font-size: 27px;
  font-family: 'Tenor Sans', sans-serif;
  padding: 3%;
}
.registrationForm{
  padding:0 2rem 1rem 2rem ;
  width: 100%;
}
.btn{
  background-color: #3B3632;
  color: white;
  margin-top: 2% ;
}
mat-form-field{
  width: 400px;
}
