<div class="container">
  <div class="title">Регистрация</div>
  <div class="errorTitle" *ngIf="auth.errorReg$ | async as error">
    {{error}}
  </div>
  <form class="registrationForm" [formGroup]="registrationForm" (ngSubmit)="submit()">
<!--    <div>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Имя</mat-label>-->
<!--        <input matInput id="firstName" formControlName="firstName" type="text" placeholder="Как Вас зовут?">-->
<!--        <mat-icon matSuffix>person</mat-icon>-->
<!--        <mat-error>Это поле должно быть заполнено</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <div>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Фамилия</mat-label>-->
<!--        <input matInput id="lastName" formControlName="lastName" type="text" placeholder="Какая у Вас фамилия?">-->
<!--        <mat-icon matSuffix>person_outline</mat-icon>-->
<!--      </mat-form-field>-->
<!--    </div>-->
    <div>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput id="newEmail" formControlName="newEmail" type="email" placeholder="Укажите cвой E-mail">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>Укажите cвой E-mail</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput id="newPassword" formControlName="newPassword" [type]="hide ? 'password' : 'text'" placeholder="Придумайте cвой пароль">
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon style="font-size: x-large;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Укажите пароль</mat-error>
        <mat-hint>Пароль должен быть не менее 6 символов</mat-hint>
      </mat-form-field>
    </div>
    <button mat-raised-button class="btn" [disabled]="registrationForm.invalid" type="submit">Зарегистрироваться</button>
  </form>
</div>
