.vrap{
  display: flex;
  justify-content: center;
}
.container{
  color: #3B3632;
  background-color: #f4fcfa;
  border-radius: 20px;
  border: #3B3632 solid;
  width: 30%;
  margin: 2rem;
}
.title{
  font-size: 27px;
  font-family: 'Tenor Sans', sans-serif;
  padding: 1rem 0 0 3rem;
}
.createNewPurchase{
  padding: 1rem 0 1rem 3rem ;
  width: 100%;
}
.btn{
  background-color: #3B3632;
  margin: 3% 0;
  color: white;
}
input.numInput::-webkit-outer-spin-button,
input.numInput::-webkit-inner-spin-button {
  display: none;
}

input.numInput {
  -moz-appearance: textfield;
}
mat-form-field{
  width: 70%;
}
